#accountID {
	vertical-align: middle;
	width: 280px;
	display: inline-block;
}

#h2 {
	text-align: center;
	vertical-align: middle;
}

#registerNumber {
	width: 176px;
	display: inline-block;
}

#registerNumber2 {
	width: 176px;
	display: inline-block;
}

#btnId {
	width: 90px;
	margin-left: 2px;
}

#th1 {
	width: 170px; 
	text-align: center;
	vertical-align: middle;
}

#container {
	margin-top: 20px;
	width: 600px;
}

#regbtn{
	text-align: center;
	align-items: center;
	margin: auto;
	display: inline-block;
}

#gender {
	margin-left: 3px;
}