<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crunch.mapper.UserInfoMapper">

    <!-- Terry - userInfo(로그인, 회원가입) 관련 xml -->

    <!-- 회원가입 데이터 입력 -->
    <insert id="userInfoInsert" parameterType="userInfoDTO">
        insert into UserInfo (userID, accountID, accountPassword, userName, registerNumber, mobileNumber, gender, email)
        values (userinfo_userID_seq.nextval, #{accountID, jdbcType=VARCHAR}, #{accountPassword, jdbcType=VARCHAR}, #{userName, jdbcType=VARCHAR}, 
        		#{registerNumber, jdbcType=VARCHAR}, #{mobileNumber, jdbcType=VARCHAR}, #{gender, jdbcType=VARCHAR}, #{email, jdbcType=VARCHAR})
    </insert>

    <!-- 로그인 아이디 비교 -->
    <select id="userInfoCompareID" parameterType="String" resultType="String">
        select accountID
        from UserInfo
        where accountID = #{accountID, jdbcType=VARCHAR}
    </select>

    <!-- 로그인 패스워드 비교 -->
    <select id="userInfoComparePW" parameterType="String" resultType="String">
        select accountPassword
        from UserInfo
        where accountID = #{accountID, jdbcType=VARCHAR}
    </select>

    <select id="userInfoSelect" parameterType="userInfoDTO" resultType="userInfoDTO">
        select userID,
               accountID,
               accountPassword,
               userName,
               registerNumber,
               mobileNumber,
               gender,
               email,
               joinDate,
               retireDate,
               positionCode
        from UserInfo
        where accountID = #{accountID, jdbcType=VARCHAR}
    </select>

    <!--쪽지 보낸이-->
    <select id="selectUserID" parameterType="String" resultType="int">
        select userID
        from UserInfo
        where accountID = #{accountID}
    </select>
    
    <!-- 회원가입시 아이디 중복체크용 유저 수 확인 -->
    <select id="userInfoAccountIDCount" parameterType="String" resultType="int">
        select count(*) from UserInfo where accountID = #{accountID, jdbcType=VARCHAR}
    </select>
    
    <!-- 회원가입시 주민등록번호 중복체크용 주민등록번호 수 확인 -->
    <select id="userInfoRegisterNumberCount" parameterType="String" resultType="int">
        select count(*) 
        from UserInfo 
        where registerNumber = #{registerNumber, jdbcType=VARCHAR}
    </select>
    
	<!-- 사원목록 Search -->
	<select id="getUserInfoList" resultType="userInfoDTO">
		select * 
		from userinfo 
		inner join position 
		on userinfo.positioncode = position.positioncode
	</select>
	
    <!-- ID찾기 이름 비교 -->
    <select id="userInfoFindIdByName" parameterType="String" resultType="String">
        select accountID 
        from UserInfo 
        where userName = #{userName, jdbcType=VARCHAR}
    </select>

    <!-- ID찾기 이메일 비교 -->
    <select id="userInfoFindIdByMail" parameterType="String" resultType="String">
        select accountID 
        from UserInfo 
        where email = #{email, jdbcType=VARCHAR}
    </select>
    
    <!-- PW찾기 아이디 비교 -->
  	 <select id="userInfoFindPwById" parameterType="String" resultType="String">
        select accountPassword
        from UserInfo 
        where accountID = #{accountID, jdbcType=VARCHAR}
    </select>
    
    <!-- PW찾기 이름 비교 -->
  	 <select id="userInfoFindPwByName" parameterType="String" resultType="String">
        select accountPassword 
        from UserInfo 
        where userName = #{userName, jdbcType=VARCHAR}
    </select>
    
    <!-- PW찾기 이메일 비교 -->
     <select id="userInfoFindPwByMail" parameterType="String" resultType="String">
        select accountPassword 
        from UserInfo 
        where email = #{email, jdbcType=VARCHAR}
    </select>
    
</mapper>